$font-url: "fonts"

@import fonts/orbitron.sass

$font-face: "DejaVu Sans"

body
  font-family: $font-face
  font-weight: 400

main, article
  margin: auto
  padding: 2pt

main, article, p, img, h1, h2, h3, h4, h5
  max-width: 75ch

pre
  display: block
  overflow: auto
  padding-left: 1ch

blockquote
  font-style: italic

article > .meta
  margin: auto 2ch

article > h1
  text-align: center

header > h1
  font-family: "Orbitron Light"

header, footer
  text-align: center

li a, header a, header a:hover
  text-decoration: none

a:hover
  text-decoration: underline

h1, h2, h3, h4, h5
  font-family: "Orbitron Medium"

footer
  clear: both
  margin-top: 2em
  border-top: 1px dotted
  padding: 1em 0

fieldset
  border: .5mm dashed

fieldset > p
  margin: .5em auto
  padding: .5em
  float: left

label
  margin: .2em
  display: block

input, textarea
  display: block
  border: none
  border-bottom: .5mm solid
  min-width: 100%

textarea
  border: .5mm solid
  width: 80ch
  height: 40ch
  display: block-inline
  clear: both

button
  clear: both
  display: block
  margin: 1em auto
  border: .5mm solid

.topics > li
  list-style-type: none
  text-transform: capitalize

ul.listing
  padding: 0 1ch

.listing > li
  list-style-type: none
  text-transform: none
  padding: 4px
  margin-bottom: .5em

.listing p
  padding: 0
  margin: 0
