@import layout.sass

body
  background-color: WhiteSmoke

body, a, header a:visited
  color: #191B22

pre
  border-left: 1mm solid #191B22

a
  color: SteelBlue

.abstract, .meta
  color: #909090

article, .listing > li
  background-color: rgba(100,100,100,.1)
  border: 1px solid rgba(100,100,100,.2)

.pipe
  opacity: .3
