@import layout.sass

body
  background-color: #191b22

body, a, header a:visited
  color: #f2f2f2

pre
  border-left: 1mm solid #f2f2f233

a
  color: PaleTurquoise

.abstract, .meta
  color: #909090

article, .listing > li
  background-color: rgba(100,100,100,.1)
  border: 1px solid rgba(100,100,100,.2)

.pipe
  opacity: .3
